<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMobuWs"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/MobuWcf/MobuWs.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobuWs" contract="MobuWs.IMobuWs" name="BasicHttpBinding_IMobuWs"/>
        </client>
    </system.serviceModel>
</configuration>
